@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900|Satisfy);

body {
  padding-bottom: 50px;
}

hr {
  margin: 0 200px;
  border: 1px dotted #000;
}

.dishheader {
  margin: 25px 100px 0px 100px;
}

.dishheader img {
  width: 100%;
  max-width: 750px;
  display: block;
  margin: 0 auto;
}

h1 {
  margin-top: -5px;
  margin-bottom: 20px;
  font-family: 'Satisfy', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 3em;
  text-align: center;
}

p {
  text-align: center;
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
  font-weight: 900;
  line-height: 22px;
}

.answer {
  position: relative;
  top: 0;
  width: 500px;
  margin: 40px auto 0px auto;
}

#dishQuestion1, #dishQuestion2, #dishQuestion3, #dishQuestion4, #dishQuestion5 {
  position: relative;
  top: 0;
  width: 500px;
  margin: 40px auto 0px auto;
}

.buttonContainer {
  margin: 0 auto;
  width: 130px;
}

input {
  display: block;
  margin: 0 auto;
  width: 200px;
  margin-bottom: 20px;
}

button {
  display: inline;
  text-align: center;
  background-color: #000;
  border: 0;
  color: #fff;
  font-family: "Lato";
  font-weight: 900;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 50px;
}

button:hover {
  background-color: #333;
}

button:focus {
  outline: none;
  ;}

button.restart {
  width: 210px;
  margin-left: -40px;
}